<div class="golfcourse-block">
	<h1>ラウンドするゴルフ場を選択</h1>
	<%= form_tag(golfcourses_index_path,:method => 'get', local: true) do %>
		<%= label :search, "ゴルフ場名を検索", class: "golfcourse-block__label" %>
		<%= text_field_tag :search, "", {class: "golfcourse-block__longform"} %>
		<%= submit_tag 'ゴルフ場を検索', :golfcoursename => nil, class: "golfcourse-block__searchbutton" %>
		<p class="search_result__name">①これからラウンドするゴルフ場名を検索して下さい。</p>
	<% end %>

	<%= form_with url:round_start_path, id: "golfcourse_form", html:{name: "select_course_form"} do |f| %>
		<%= f.label :played_date, "ラウンドする日", class: "golfcourse-block__label" %>
		<%= f.date_select :played_date, {require: true, use_month_numbers: true}, {class: "golfcourse-block__form"} %><br>
		<%= f.label :start_hole, "スタートホール", class: "golfcourse-block__label" %>
		<%= f.select :start_hole, [['1H', 1], ['10H', 10]], {}, {class: "golfcourse-block__form"}  %><br>
		<%= f.label :published, "このラウンドのスコアの公開/非公開", class: "golfcourse-block__label" %>
		<%= f.select :published, [['公開', 1], ['非公開', 0]], {}, {class: "golfcourse-block__form"} %>
		<p>※「非公開」にすると、リーダーボードに載らず、他ユーザーの方からスコアを閲覧されることもありません。後からでも変更可能です。</p>
		<div id="search_result" class="search_result">
			<% i = 1 %>
			<% @search_golfcoursename.each.with_index(1) do |name,index| %>
				<div class="search_result__block">
					<%= f.radio_button :golfcourse_id, name.id, require: true, class: "search_result__radiobutton", id: "radio_#{index}" %>
					<p class="search_result__name"><%= name.golfcoursename %></p>
					<p class="search_result__address"><%= name.address %></p>
					<div class="grad-wrap">
						<input id="trigger<%= name.id %>" class="grad-trigger" type="checkbox">
						<div class="grad-item"><%= name.golfcoursecaption %></div>
							<label class="grad-btn" for="trigger<%= name.id %>"></label>
					</div>
				</div>
				<% end %>
				<%= paginate @search_golfcoursename %>
				<%= submit_tag 'ラウンドを開始する', id: "golfcourse_select", class: "golfcourse-block__startbutton" %>
		</div>
	<% end %>
</div>
