<h1>スコア入力画面</h1>
<%= @score.id %><br>
<%= @score.golfcourse.golfcoursename %><br>
<p>user.name:<%= @score.user.name %></p>
<p>user.id:<%= @score.user.id %></p>

<%= render "/golfcourses/form" %>
<%#= render 'messages/form', message: Message.new, value: '投稿' %>


<% if @score.hole1_score == nil %>
  <%= link_to "このラウンドを終了する", golfcourses_finish_path, method: :update, data: { confirm: 'ラウンドを終了してよろしいですか？' }  %>
<% end %>
<hr>

<h1>リーダーボード</h1>
<%= render 'leader_board' %>
<hr>

<h1><%= @score.golfcourse.golfcoursename %>のメッセージボード</h1>

<%= render 'messages/form', message: Message.new, value: '投稿' %>

<div id="messages">
  <%= render @messages %>
</div>
<%= paginate @messages %>

