<h1>スコア入力画面</h1>
<%= @score.id %><br>
<%= @score.golfcourse.golfcoursename %><br>
<%= @score.hole1_score %><br>

<%= form_with url:golfcourses_update_path do |f| %>
  <%= f.label :hole1_score, '1H' %>
  <%= f.number_field :hole1_score, value: @score.hole1_score %><br>
  <%= f.submit "編集する" %>
<% end %>

<% if @score.hole1_score == nil %>
  <%= link_to "このラウンドを終了する", golfcourses_finish_path, method: :update, data: { confirm: 'ラウンドを終了してよろしいですか？' }  %>
<% end %>

<h1>リーダーボード</h1>

<table>
  <tr>
    <th>rank</th>
    <th>name</th>
    <th>score</th>
    <th>THRU</th>
  </tr>
  <% s = 0 %>
  <% j = 1 %>
  <% @current_course_scores.each.with_index(1) do|score,i| %>
    <tr>
      <% if i == 1 %>
        <% s = score.total_score %>
      <% end %>
      <% if score.total_score != s %>
        <% j = i %>
        <th><%= j %></th>
        <th><%= score.user.name %></th>
        <th><%= score.total_score %></th>
        <% s = score.total_score %>
      <% else %>
        <% s = score.total_score %>
        <th><%= j %></th>
        <th><%= score.user.name %></th>
        <th><%= score.total_score %></th>
      <% end %>
    </tr>
  <% end %>
</table>


<%# if score.overunder == @ou[i - 1].overunder || score.overunder == @ou[(i + 1)%@ou.size].overunder %> 
  <%# post_fix = "T" %>
<%# else %>
  <%# post_fix = "" %>
<%# end %>

<%# order = i + 1 unless score.overunder == @ou[i - 1].overunder %>




<h1><%= @score.golfcourse.golfcoursename %>のメッセージボード</h1>

<% @current_course_message.each do|message| %>
  <%= message.content%>
  <%= message.user.name%>
  <%= message.created_at%><br>
<% end %>

