<h1>ラウンドするゴルフ場を選択</h1>
<%= select_month(Date.today) %>


<p>検索</p>
<%= form_tag(golfcourses_search_path,:method => 'get', local: true) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :golfcoursename => nil %>
<% end %>
<% @search_golfcoursename.each do |name| %><br>
	<%= name.golfcoursename %><br>
	<%= name.address %><br>
	<%= name.golfcoursecaption %><br>
<% end %>
<%= paginate @search_golfcoursename %>


<%# @golfcoursename_all.each do |n| %>
	<%#= n.golfcoursename %><br>
<%# end %>
<%#= paginate @golfcoursename_all %>
