
<div class="messageCourse-block">
	<h1> <%= @course_name.golfcourse.golfcoursename %>の掲示板</h1>
	<% @messages.each do |message| %>
  	<p class="messageCourse-message">
			<% if message.user.avatar? %>
				<%= image_tag message.user.avatar.url, class: "messageCourse-block__img"%>
			<% else %>
				<img src="/assets/ball.svg" class="messageCourse-block__img">
			<% end %>
			<span><%= link_to message.user.name, users_show_path(id: message.user.id) %></span>
			<% if message.image != nil %>
				<img class="thmb" src="<%= "#{message.image}" %>">
			<% end %>
			<span class="messageCourse-block__date-content"><%= message.content %></span>
			<span class="messageCourse-block__date-like">
				<span><%= message.created_at %></span><br>
				いいねの数:<span><%= message.likes.count %></span>
			</span>	
			<% end %>
		</p>
	<%= paginate @messages %>
	<%= link_to "メッセージ一覧にもどる", messages_index_path %>
</div>
