
<div class="messageCourse-block">
	<h1> <%= @golfcoursename.golfcourseabbr %>の掲示板</h1>

	<%= render 'messages/form', message: Message.new, value: '投稿' %>
	<div id="messages" class="score-block__message">
  <%= render @messages %>
</div>
<%= paginate @messages %>

	<%= link_to "メッセージ一覧にもどる", messages_path, class: "messageCourse-block__backIndex" %>
</div>
