<h1>投稿詳細ページ</h1>
<h3><%= @message.user.name %>さんの投稿</h3>
<h3><%= @message.content %></h3>
<h3>いいね件数: <%= @message.likes.count %></h3>
<% if current_user.already_liked?(@message) %>

  <%= button_to 'いいねを取り消す', {controller: 'likes', action: 'destroy'}, {method: :delete } %>
  
<% else %>
<form action="/likes" method="post">
<%= link_to 'いいね', likes_path(@post) %>
</form>
<% end %>
<h2>いいねしたユーザー</h2>
<% @message.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<%= link_to "ホームへ戻る", root_path %>