<h1>投稿詳細ページ</h1>
<h2><%= @message.user.name %>さんの投稿</h2>
<p><%= @message.content %></p>
<h2>いいね件数: <%= @message.likes.count %></h2>


<h2>いいねしたユーザー</h2>
<% @message.liked_users.each do |user| %>
  <li>
    <%= user.name %><br>
    <%= user.introduction %><br>
  </li>
<% end %>

<%= link_to "ホームへ戻る", root_path %>
