
<h1> <%= @message_course %>の掲示板</h1>


<% @messages.each do |m| %>
<span> <%= link_to m.content, message_show_path(id: m.id) %> </span>
<span> <%= m.created_at %> </span>

<span> いいねの数<%= m.liked_users.count %>個</span>
<span>投稿者 <%= m.user.name %> さん</span><br>
<% end %>

<%= link_to "トップにもどる", root_path %>