<div class="score-card">
  <h2>スコアカード</h2>
  <div class="score-card__table">
    <table class=" table table-striped">
      <tr>
        <th>ホール</th>
        <th>スコア</th>
      </tr>
      <tr>
        <td>1H</td>
        <td id="1H-score">
        <% if @score.hole1_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d',@score.hole1_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>2H</td>
        <td>
        <% if @score.hole2_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole2_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>3H</td>
        <td>
        <% if @score.hole3_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole3_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>4H</td>
        <td>
        <% if @score.hole4_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole4_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>5H</td>
        <td>
        <% if @score.hole5_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole5_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>6H</td>
        <td>
        <% if @score.hole6_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole6_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>7H</td>
        <td>
        <% if @score.hole7_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole7_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>8H</td>
        <td>
        <% if @score.hole8_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole8_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>9H</td>
        <td>
        <% if @score.hole9_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole9_score.to_i) %>
          <% end %>
        </td>
      </tr>
    </table>

    <table class=" table table-striped">
      <tr>
        <th>ホール</th>
        <th>スコア</th>
      </tr>
      <tr>
        <td>10H</td>
        <td>
        <% if @score.hole10_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole10_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>11H</td>
        <td>
        <% if @score.hole11_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole11_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>12H</td>
        <td>
        <% if @score.hole12_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole12_score.to_i) %>
          <% end %>
        </td>
      </tr>
        <tr>
        <td>13H</td>
        <td>
        <% if @score.hole13_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole13_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>14H</td>
        <td>
        <% if @score.hole14_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole14_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>15H</td>
        <td>
        <% if @score.hole15_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole15_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>16H</td>
        <td>
        <% if @score.hole16_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole16_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>17H</td>
        <td>
        <% if @score.hole17_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole17_score.to_i) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>18H</td>
        <td>
        <% if @score.hole18_score == nil %>
          <span>未プレイ</span>
          <% else %>
            <%= format('%+d', @score.hole18_score.to_i) %>
          <% end %>
        </td>  
      </tr>

    </table>
  </div>
    <% if @score.status == 0 %>
    <p>
      <%= link_to "スコア入力に戻る", plays_edit_path(score_id: @score.id, hole_number: @score.thru.to_i + 1)%>
    </p>
  <% end %>
</div>
