<h1>スコア入力画面</h1>
<p>スコアID:<%= @score.id %></p>
<p>ゴルフ場名:<%= @score.golfcourse.golfcoursename %></p>
<p>プレイヤー名:<%= @score.user.name %></p>
<p>ユーザーID:<%= @score.user.id %></p>
<p>Total score:
  <span id='total_score'><%= @score.total_score %></span>  
</p>
<%= render 'score_card' %>
<p>
<%= link_to "スコア入力に戻る", plays_edit_path(score_id: @score.id, hole_number: @score.thru.to_i + 1)%>
</p>

<%= render "/golfcourses/form" %>

<%# if @score.hole1_score == nil %>
  <%#= link_to "このラウンドを終了する", golfcourses_finish_path, method: :update, data: { confirm: 'ラウンドを終了してよろしいですか？' }  %>
<%# end %>
<hr>

<h1>リーダーボード</h1>
<%= render 'leader_board' %>
<hr>

<h1><%= @score.golfcourse.golfcoursename %>のメッセージボード</h1>

<%= render 'messages/form', message: Message.new, value: '投稿' %>

<div id="messages">
  <%= render @messages %>
</div>
<%= paginate @messages %>

