<div class="score-block">
<p>ゴルフ場名:<%= @score.golfcourse.golfcoursename %></p>
<p>プレイ日:<%= @score.played_date %></p>
<p>スタートホール:<%= @score.start_hole %>H</p>

<p>Total score:
  <span id='total_score'><%= @score.total_score %></span>  
</p>
<div class="card-borad_block">
  <%= render 'score_card' %>
  <%= render 'leader_board' %>
</div>

<h1><%= @score.golfcourse.golfcoursename %>のメッセージボード</h1>

<%= render 'messages/form', message: Message.new, value: '投稿' %>

<div id="messages">
  <%= render @messages %>
</div>
<%= paginate @messages %>

</div>
