<h1>個別スコア編集</h1>

<p> <%= @hole_number %></p>
<p> <%= @round_id %></p>
<p> <%= @score.hole_score %></p>
<p> <%= @score.course %></p>


<%= form_with url:hole_score_new_path do |f| %>
  <%= f.label :hoge, 'スコア' %>
  <%= f.number_field :hoge, value: @par  %>
  <%= f.submit "入力する" %>
<% end %>

<%= link_to "トップにもどる", root_path %>

