<h1>プレイヤー検索</h1>

<%= form_tag(user_index_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<% if @users == [] %>
<p>該当するユーザーはいません。</p>
<% else %>
  <% @users.each do |user| %>
    <%= link_to user.name, user_path(id: user.id) %><br>
  <% end %>
<% end %>  
<%= paginate @users %>




 <%= link_to "トップにもどる", root_path %>
