
<div class="user-Search">
  <h1>プレイヤー検索</h1>
  <%= form_tag(user_index_path,:method => 'get', class: "user-Search__form") do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
  <ul class="user-Search__ul">
  <% if @users == [] %>
  <p>該当するユーザーはいません。</p>
  <% else %>
    <% @users.each do |user| %>
      <li class="user-Search__list">
        <% if user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
          <%= image_tag asset_path(user.avatar.url), class: "avatar-img"%>
        <% else %>
          <%= image_tag asset_path("ball.svg"), class: "avatar-img"%>
        <% end %>
        <span class="user-Search__list__span"><%= link_to user.name, user_path(id: user.id), class: "user-Search__list__name" %></span>
      </li>
    <% end %>
  <% end %>  
  </ul>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>
