<h1><%= @user.name %>さんのページ</h1>
<p><%= @user.introduction  %></p>
<% if @user.avatar? %>  <!-- アップロード画像がある場合に実行する -->
  <p>
    <strong>Avatar:</strong>
    <%= image_tag @user.avatar.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
  </p>
<% end %>

<% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
    <%= render 'follow_form' %>
    <%= render 'stats' %>
<% elsif user_signed_in? && current_user.name == "ゲストプレイヤー" %>
    <%= render 'stats' %>
    <span>※ゲストユーザーは、フォロー機能を使用できません。</span>
<% end %>


<h2>ラウンド結果</h2>



<%= link_to "トップにもどる", root_path %>
