<% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
  <h2>あなたは、サインイン中でゲストプレイヤーでもないですね。</h2>
    <h2>プレイ中のラウンド</h2>
  <% if @unfinished_score == [] %>
    <p>プレイ中のラウンドはありません。</p>
  <% else %>
    <table>
      <tr>
        <th>プレイ日</th>
        <th>コース名</th>
        <th>暫定スコア</th>
        <th>THRU</th>
      </tr>
      <% @unfinished_score.each do|score| %>
        <tr>
          <td><%= score.played_date%></td>
          <td><%= link_to score.golfcourse.golfcoursename, score_path(id: score.id)%></td>
          <% if score.thru == nil%>
            <td><span>スタート前</span></td>
          <% else %>
            <td><%= score.total_score%></td>
            <% if score.start_hole == 1 %>
              <td><%= score.thru%>H</td>
            <% else %> 
              <td><%= score.thru%>H*</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% elsif user_signed_in? && current_user.name == "ゲストプレイヤー" %>
  <h2>あなたは、サインイン中でゲストプレイヤーですね。</h2>
  <%# <h2>ゲストログインだから、何も表示しないよ</h2> %>
<% else %>
  <h2>ログアウト中ですね</h2>  
<% end %>
