<div class="topmenu-list">
  <% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
    <%= link_to image_tag('board.svg', class: "topmenu-image__title"), messages_index_path, class: "topmenu-list__title" %>
    <%= link_to image_tag('course.svg', class: "topmenu-image__title"), '/archives?played_year=0&commit=%E6%A4%9C%E7%B4%A2', played_year: '0', commit: '検索', class: "topmenu-list__title" %>
    <%= link_to image_tag('bag.svg', class: "topmenu-image__title"), user_index_path, class: "topmenu-list__title" %>
    <%= link_to image_tag('shoes.svg', class: "topmenu-image__title"), mypage_path, class: "topmenu-list__title" %>
    <%= link_to image_tag('cart.svg', class: "topmenu-image__title"), golfcourses_index_path, class: "topmenu-list__title" %>

  <% elsif user_signed_in? && current_user.name == "ゲストプレイヤー" %>
    <%= link_to image_tag('board.svg', class: "topmenu-image__title"), messages_index_path, class: "topmenu-list__title" %>
    <%= link_to image_tag('bag.svg', class: "topmenu-image__title"), user_index_path, class: "topmenu-list__title" %>
    <%= link_to image_tag('cart.svg', class: "topmenu-image__title"), golfcourses_index_path, class: "topmenu-list__title" %>
  <% end %>
</div>
  <%#= link_to image_tag('logo-01.svg', class: "topmenu-image__title"), root_path  %>
