<% if user_signed_in? %>
  <div class="home-block">
    <%= render 'top_menu'%>
  </div>
<% end %>

<% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
  <div class="newsList">
    <%= render 'playing_round'%>
    <%= render 'following_timeline'%>
  </div>
<% elsif user_signed_in? && current_user.name == "ゲストプレイヤー" %>
  <div class="newsList">
    <%= render 'guest_player_timeline'%>
  </div>
<% end %>

<% unless user_signed_in? %>

  <%= render 'sologol_dekirukoto'%>
  <%= render 'round_information'%>
<% end %>
