
<div class="mypageEdit-block">
  <div class="mypageEdit-block__flex">
    <div class="mypageEdit-block__leftsideBlock">
      <% if @user.avatar? %>  
        <%= image_tag asset_path(@user.avatar.url), class: "mypageEdit-block__avatar" %>
      <% else %>
        <%= image_tag asset_path("ball.svg"), class: "mypageEdit-block__avatar" %>
      <% end %>
      <p>プロフィール画像</p>
    </div>
    <div class="mypageEdit-block__rightsideBlock">
      <%= form_with(model: @user, local: true, class: "userForm") do |f| %>
        <div class="userForm__child">
          <%= f.label :name, "プレイヤー名", class: "form_label" %>
          <%= f.text_field :name, class: "form_input"  %>
        </div>
        <div class="userForm__child">
        <%= f.label :introduction, '自己紹介文', class: "form_label" %>
        <%= f.text_area :introduction, class: " form_input form_textarea" %>
        </div>
        <div class="userForm__child">
        <%= f.label :avatar, "プロフィール画像", class: "form_label" %>
        <%= f.file_field :avatar, class: "form_input"  %>
        <%#= f.hidden_field :avatar_cache %>
        </div>

        <%= f.submit "編集する", class: "form_submit_button" %>
      <% end %>  
      <%= link_to "戻る", mypage_path %>
    </div>
  </div>
</div>

