
<div class="mypage-block">
  <div class="mypage-block__flex">
    <div class="mypage-block__leftsideBlock">
      <% if @user.avatar? %>  
        <%= image_tag asset_path(@user.avatar.url), class: "mypage-block__avatar" %>
        <% else %>
        <img src="/assets/ball.svg" class="mypage-block__avatar">
      <% end %>
      <p class="mypage-block__name"><%= @user.name %></p>
      <p class="mypage-block__email"><%= @user.email %></p>
    </div>
    <div class="mypage-block__rightsideBlock">
      <%= link_to "プロフィールを編集する", mypage_edit_path, class: "rightsideBlock__edit" %>
      <% if user_signed_in? && current_user.name != "ゲストプレイヤー" %>
        <%= render 'users/follow_form' %>
        <%= render 'users/stats' %>
      <% elsif user_signed_in? && current_user.name == "ゲストプレイヤー" %>
        <%= render 'stats' %>
        <span>※ゲストユーザーは、フォロー機能を使用できません。</span>
      <% end %>
    </div>
  </div>
  <p><%= @user.introduction %></p>
</div>
