<div class="archive-block">
  <h1>過去のスコアを解析</h1>
  <%= form_tag(archives_index_path,:method => 'get', local: true) do %>
    <%= label :played_year, '期間' %>
    <%= select_tag 'played_year', options_for_select({'全期間': 0, '直近3ヶ月': '直近3ヶ月', '直近6ヶ月': '直近6ヶ月', '2021': 2021, '2020': 2020}, 1) %>
    <%= submit_tag '検索' %>
  <% end %>

  <% if params[:played_year] == '0' %>
    <p>対象期間：全期間</p>
  <% else %>
    <p>対象期間：<%= params[:played_year] %></p>
  <% end %>

  <% @sum = 0 %>
  <% @scores_search.each do |score| %>
    <% @sum += score.total_score.to_i %>
  <% end %>
  <p>ラウンド数：<%= @count = @scores_search.count.to_i %></p>
  <% @ave = @sum.to_f / @count.to_f %>
  <% if @count == 0 %>
    <h5>該当するデータがありません。</h5>
  <% else %>
    <p>平均スコア：<%= sprintf("%+8.2f", @ave) %></p>
  <% end %>

  <% @array = [] %>
  <% if @array == [] %>
  <% else %>
    <% @scores_search.each do|score| %>
      <% @array.push(score.total_score.to_i) %>
    <% end %>
    <p>ベストスコア：<%= format('%+d', @array.min) %></p>
    <p>ワーストスコア：<%= format('%+d', @array.max) %></p>
  <% end %>


    <% @played_course_count.each do|score| %>
    <%= score[0] %>
    <%= score[1] %>回 <br>
  <% end %>

<hr>
  <table class="archive-block__round__table table table-striped">
    <tr class="archive-block__round__tr">
      <th>プレイ日</th>
      <th>コース</th>
      <th>スコア</th>
      <th>スタートホール</th>
      <th>スコア公開</th>
    </tr>
    <% @scores_search.each do|score|%>
      <tr class="archive-block__round__tr">

        <td><%= score.played_date %></td>
        <td><%= score.golfcourse.golfcoursename %></td>
        <td><%= link_to score.total_score, archives_show_path(id: score.id)%>
        <td><%= score.start_hole %>H</td>
        <% if score.published == 1 %>
          <td>公開中</td>
        <% else %>
          <td>非公開</td>
        <% end %>
      </tr>  
    <% end %>
  </table>
  <%#= paginate @scores, theme: 'twitter-bootstrap-4'%>
</div>


