<h1>過去のスコアをみれます。</h1>
<div>
  <% @scores.each do|score|%>
    <div>
      <%= score.user.name %><br>
      <%= score.golfcourse.golfcoursename %><br>
      <%= score.played_date %><br>
      <%= score.total_score %><br>
      <%= link_to "スコア詳細", archives_show_path(id: score.id) %>
    </div>
  <% end %>
</div>


