<div class="archiveShow-block">
  <h1>スコア詳細</h1>
  <p>コース： <%= @score.golfcourse.golfcoursename %></p>
  <p>プレイ日時： <%= @score.played_date.strftime('20%y年%-m月%d日(%a)') %></p>
  <p>トータルスコア： <%= @score.total_score%></p>
  <div class="card-borad_block">
    <%= render 'scores/score_card' %>
    <%= render 'scores/leader_board' %>
  </div>
  <% if current_user.id == @score.user.id %>
    <%= link_to "ラウンド一覧に戻る", archives_index_path %> 
  <% end %>
  <div class="archiveShow-block__linkGroup">
    <% if current_user.id == @score.user.id && @score.published == 1 %>
      <%= link_to "このラウンドのスコアを非公開にする", unpublished_path(score_id: params[:id]), method: :patch, data: { confirm: 'このラウンドの結果を非公開にしてよろしいですか？' }  %> 
    <% elsif current_user.id == @score.user.id && @score.published == 0 %>
      <%= link_to "このラウンドのスコアを公開する", published_path(id: params[:id]), method: :patch, data: { confirm: 'このラウンドの結果を公開してよろしいですか？' } %> 
    <% end %>

    <% if  current_user.id == @score.user.id %>
      <%= link_to "このラウンドのスコアを編集する", archives_edit_path %>
      <%= link_to "このラウンドのスコアを削除する", archives_destroy_path, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
    <% end %>
  </div>
</div>
