<h1>スコアカード</h1>

<p>ラウンドID： <%= @coursename %></p>
<p> <%= @score_card_score %></p>
<p>プレイしたコース： <%= @score_card_course.course %></p>
<p>プレイヤー名： <%= @score_card_course.user.name %></p>
<p>プレイ日時： <%= @score_card_course.created_at.strftime('%Y/%m/%d') %></p>
<p>トータルスコア： <%= format('%+d', @score_sum + 72) %></p>
 
<% @score_card_score.each do |m| %>
<span> <%= m.hole_number %>H: </span>

    <span> <%= m.hole_score %> </span><br>

<% end %>

  <span><%= link_to "このラウンドのスコアを編集する", scorecard_edit_path %> </span><br>
  <span><%= link_to "このラウンドのスコアを削除する", hole_score_delete_path, data: { confirm: '本当に削除してよろしいですか？' } %> </span><br>

<%= link_to "トップにもどる", root_path %>
