<!DOCTYPE html>
<html>
  <head>
    <title>Golfscore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= javascript_bundle_tag 'application' %>
		<%#= stylesheet_bundle_tag 'style' %>
		<%#= javascript_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
		<%#= stylesheet_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
    
    <%#= stylesheet_link_tag "application", media: "all" %>
    <%#= javascript_include_tag "application" %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application' %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
    
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
  
  </head>

  <body class="body_bg">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash.scores' %>
     
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <%= session.to_hash %>
  </body>
</html>
