<!DOCTYPE html>
<html>
  <head>
    <title>SOLOGOL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag('favicon.ico') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H1CT93NR9Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H1CT93NR9Q');
    </script>
  </head>

  <body class="backGround__img">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash.scores' %>
    <div class="flex-1">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%#= debug(params) if Rails.env.development? %>
    <%#= session.to_hash %>
  </body>
</html>
